body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* Updated font-family to use Roboto */
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home {
  background-image: url("images/landscape_bg.png");
  background-size: cover;
  background-position: center;
  position: relative; /* Added position relative */
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.home-content {
  z-index: 1;
  text-align: center;
  color: #fff;
}

section h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

section p {
  font-size: 24px;
  text-align: center;
}

/* Added some styles for the Vuetify components */
.v-navigation-drawer__content {
  background-color: #f5f5f5;
}

.v-toolbar__title {
  font-weight: bold;
}

.v-main {
  margin-top: 64px; /* Added margin-top to adjust for the app bar */
}

.v-footer {
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
}
.float-right {
  float: right;
  margin-right: 20px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.z-10 {
  z-index: 10;
}