.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-images img {
    width: 100%;
    border-radius: 10px;
}
.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}